@font-face
    font-family: 'cabL'
    src: url('../assets/fonts/cabL2.eot')
    src: url('../assets/fonts/cabL2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabL2.woff') format('woff'), url('../assets/fonts/cabL2.ttf') format('truetype'), url('../assets/fonts/cabL2.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'cabrR'
    src: url('../assets/fonts/cabR2.eot')
    src: url('../assets/fonts/cabR2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabR2.woff') format('woff'), url('../assets/fonts/cabR2.ttf') format('truetype'), url('../assets/fonts/cabR2.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'cabSB'
    src: url('../assets/fonts/cabSB2.eot')
    src: url('../assets/fonts/cabSB2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabSB2.woff') format('woff'), url('../assets/fonts/cabSB2.ttf') format('truetype'), url('../assets/fonts/cabSB2.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'cabHi'
    src: url('../assets/fonts/cabHi2.eot')
    src: url('../assets/fonts/cabHi2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabHi2.woff') format('woff'), url('../assets/fonts/cabHi2.ttf') format('truetype'), url('../assets/fonts/cabHi2.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'cabB'
    src: url('../assets/fonts/cabB2.eot')
    src: url('../assets/fonts/cabB2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabB2.woff') format('woff'), url('../assets/fonts/cabB2.ttf') format('truetype'), url('../assets/fonts/cabB2.svg') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'cabBL'
    src: url('../assets/fonts/cabBL2.eot')
    src: url('../assets/fonts/cabBL2.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/cabBL2.woff') format('woff'), url('../assets/fonts/cabBL2.ttf') format('truetype'), url('../assets/fonts/cabBL2.svg') format('svg')
    font-weight: normal
    font-style: normal