/*
    Main colors
    */
$color_green: #C1CD23
$color_light_green: #DCE657
$color_dark_green: #939A3A

$color_reverse: #AF1E60
$color_light_reverse: #D7518E
$color_dark_reverse: #833257

$color_reverse2: #6F1C8A
$color_light_reverse2: #A84FC4
$color_dark_reverse2: #582967
// Main colors END

/*
    Text colors
    */
$color_text_black: #605C5B
$color_text_white: #ffffff
// Text colors END

/*
    Background colors
    */
$color_background: #FFFFFF
$color_background_gray: #f2f2f2
// Background colors END

/*
    Media
    */
$mw640: "all and (max-width: 640px)"
$mw667: "all and (max-width: 667px)"
$mw736: "all and (max-width: 736px)"
$mw768: "all and (max-width: 768px)"
$mw800: "all and (max-width: 800px)"
$mw850: "all and (max-width: 850px)"
$mw900: "all and (max-width: 900px)"
$mw1024: "all and (max-width: 1024px)"
$mw1200: "all and (max-width: 1200px)"
$mw1680: "all and (max-width: 1680px)"
// Media END

/*
    Mixins
    */
@mixin remFallback($sizeRem)
    font-size: $sizeRem * 16 + px
    font-size: $sizeRem + rem

@mixin remLineHeightFallback($sizeRem)
    line-height: $sizeRem * 16 + px
    line-height: $sizeRem + rem

@mixin remToPx($property, $sizeRem)
    #{$property}: $sizeRem * 16 + px

@mixin fontStyle($fnt)
    font-family: $fnt, Helvetica, Arial, sans-serif

$default_transition_time: 0.5s
@mixin transition($time: null)
    @if ($time)
        transition: $time
    @else
        transition: $default_transition_time
// Mixins END
