h1, h2, h3, h4, h5, h6
    @include fontStyle(cabB)
    color: $color_text_black

p, span, a, li, button, input, label
    @include fontStyle(cabL)
    @include remFallback(1)
    color: $color_text_black

a
    text-decoration: none

button, input
    @include fontStyle(cabHi)
    border: 0
    border-radius: 0
    background-color: transparent
    outline: 0
    text-transform: lowercase
    cursor: pointer

textarea:focus, input:focus, button:focus
    outline: none