.l-wrapper
    position: relative
    width: 100%
    min-width: 768px

.l-header
    position: fixed
    z-index: 10
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 105px
    padding: 0 3%
    background-color: $color_background
    text-align: center

.l-auth
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $color_green

.l-footer
    margin-top: 40px

.l-resort
    padding: 20px 3%

    @media #{$mw768}
        padding: 20px 0

.l-booking
    width: 100%
    max-width: 1200px
    margin: 0 auto
    text-align: center