<div class="top3">
    <div class="top3__item" ng-repeat="item in top3.resort">
        <div class="top3__img-container">
            <img class="top3__img" ng-src="assets/images/booking/{{item._id}}/preview.jpg"
                 width="400" height="300">
        </div>
        <h3 class="top3__header">{{item.name}}</h3>
        <p class="top3__desc">{{item.desc}}</p>
        <ul class="top3__details">
            <li ng-repeat="detail in top3.details">
                <div class="top3__detail-container" ng-class="top3.isResortIncludeDetail(item, detail)"></div>
                <span class="top3__detail">
                    {{detail}}
                    <span ng-show="item.details[detail]">:</span>
                </span>
                <span class="top3__detail top3__detail--own" ng-show="item.details[detail]">
                    {{item.details[detail]}}
                </span>
            </li>
        </ul>
    </div>
</div>