<article class="bungalows">
    <h2 class="about__primary-header">Villas</h2>
    <p class="about__lead">
        A restored colonial villa, the former guesthouse of a British tea company, offering cool plantation-style rooms
        close to Old Cochin’s historic spice district
    </p>
    <p class="bungalows__text">
        An island-like peninsula between Lake Vembanad and the Arabian Sea, Fort Cochin was once the centre of Kerala’s
        international spice trade. Arabic and Oriental traders rubbed shoulders with Jewish merchants; Dutch, Portuguese
        and British colonists added to the mix; and all made their mark here. On a wide boulevard nudging the ocean,
        among white-washed churches and back-street synagogues, the Tea Bungalow is part of that old-world legacy.
        <br>
        Built in 1912 as the offices of a British company trading in coir and spices, it was bought by Brooke Bond in
        the 1950s and used as a staff guesthouse for visiting managers. By the time it was sold again, some 50 years
        later, it was empty and semi-derelict. A 2-year restoration followed, and in 2009 it re-emerged as a small
        heritage hotel. Under low red-tiled roofs there's a wide veranda, with original French doors opening onto
        a walled garden shaded with banana, avocado and jack-fruit trees. Inside, the décor nods towards colonial
        imperialism (there is a picture of the Queen on the stairwell), but the airy rooms, luxury bathrooms and the
        glittering tiled pool are new-born 21st century.
    </p>
    <p class="bungalows__reviewed">Reviewed by John Smith</p>
</article>

<ahtl-top3 ahtl-top3type="villas"></ahtl-top3>