<div class="l-header">
    <h1 class="logo">
        <a href="/">
            <img class="logo__img" src="assets/images/logo.png" height="105" width="200" alt="Ahotel">
        </a>
    </h1>

    <nav class="nav">
        <ul class="nav__container">
            <li class="nav__item-container">
                <span class="nav__item">Resort</span>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Offers</span>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Inspiration</span>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Login</span>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Search</span>
            </li>
        </ul>
    </nav>
</div>