<!--[if lte IE 9]>
<script src="assets/vendor/placeholder.js"></script>
<![endif]-->

<header ahtl-stiky-header class="l-header">
    <h1 class="logo">
        <a href="/">
            <img class="logo__img" src="assets/images/logo.png" height="105" width="200" alt="Ahotel">
        </a>
    </h1>

    <nav class="nav">
        <ul class="nav__container">
            <li class="nav__item-container">
                <span class="nav__item">Resort</span>
                <div class="sub-nav">
                    <ul>
                        <li class="sub-nav__item">
                            <a  class="sub-nav__link" href="">Hotels</a>
                        </li>
                        <li class="sub-nav__item">
                            <a class="sub-nav__link" href="">Villas</a>
                        </li>
                        <li class="sub-nav__item">
                            <a class="sub-nav__link" href="">Bungalows</a>
                        </li>
                        <li class="sub-nav__item">
                            <a class="sub-nav__link" href="">Guest feedback</a>
                        </li>
                        <li class="sub-nav__item">
                            <button class="sub-nav__btn">View rooms</button>
                            <img class="sub-nav__img" src="assets/images/menu/submenu_villa.jpg" width="300" height="200" alt="Best hotel">
                            <img class="sub-nav__img-bg" src="assets/images/menu/submenu_villa_mask.png" width="300" height="200" alt="Best hotel">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Offers</span>
                <div class="sub-nav">
                    <ul>
                        <li class="sub-nav__item">
                            <a  class="sub-nav__link" href="">Show all offers</a>
                        </li>
                        <li class="sub-nav__item">
                            <a class="sub-nav__link" href="">Show discounts</a>
                        </li>
                        <li class="sub-nav__item">
                            <button class="sub-nav__btn">View rooms</button>
                            <img class="sub-nav__img" src="assets/images/menu/submenu_villa.jpg" width="300" height="200" alt="Best hotel">
                            <img class="sub-nav__img-bg" src="assets/images/menu/submenu_villa_discount.png" width="300" height="200" alt="Best hotel">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item-container">
                <span class="nav__item">Inspiration</span>
                <div class="sub-nav">
                    <ul>
                        <li class="sub-nav__item">
                            <a  class="sub-nav__link" href="">Inspire Me</a>
                        </li>
                        <li class="sub-nav__item">
                            <a class="sub-nav__link" href="">Gallery</a>
                        </li>
                        <li class="sub-nav__item">
                            <button class="sub-nav__btn sub-nav__btn--dest">Destinations</button>
                            <img class="sub-nav__img" src="assets/images/menu/submenu_destinations.png" width="300" height="200" alt="Best hotel">
                            <img class="sub-nav__img-bg" src="assets/images/menu/submenu_destinations_green.png" width="300" height="200" alt="Best hotel">
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item-container">
                <span class="nav__item nav__item--right nav__item--login">Login</span>
                <div class="sub-nav sub-nav--right">
                    <ul>
                        <li class="sub-nav__item">
                            <a  class="sub-nav__link" href="">Login</a>
                        </li>
                        <li class="sub-nav__item sub-nav__item--last">
                            <a class="sub-nav__link" href="">Join</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item-container">
                <span class="nav__item nav__item--right nav__item--search">Search</span>
                <div class="sub-nav sub-nav--right sub-nav--search">
                    <form class="formSearch" name="formSearch" action="/search" method="post">
                        <input name="formSearchQuery" class="formSearch__query" placeholder="Destination or hotel" id="formSearchQuery">
                        <input class="formSearch__submit" type="submit" value="SEARCH">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>

<ahtl-slider></ahtl-slider>

<div class="where-to-go">
    <h4 class="where-to-go__header">No idea where to go?</h4>
    <button class="where-to-go__btn sub-nav__btn sub-nav__btn--dest">destinations</button>
</div>

