<div class="l-resort" ng-controller="ResortController as resort">
    <div class="filters">
        <span class="filters__header">Filter your search</span>

        <div class="filters__filter-group filters__filter-group--first">
            <input class="filters__filter-group-switcher" id="location" type="checkbox" checked>
            <label class="filters__filter-group-header" for="location">Location</label>
            <div class="filters__list">
                <label class="filters__filter" ng-repeat="location in resort.renderFiltersList.locations">
                    <input ng-init="resort.filters.locations[location] = true"
                           type="checkbox" checked>
                    {{location}}
                </label>
            </div>
        </div>

        <div class="filters__filter-group">
            <input class="filters__filter-group-switcher" id="type" type="checkbox" checked>
            <label class="filters__filter-group-header" for="type">Type</label>
            <div class="filters__list">
                <label class="filters__filter" ng-repeat="type in resort.renderFiltersList.types">
                    <input ng-init="resort.filters.types[type] = true"
                           type="checkbox" checked>
                    {{type}}
                </label>
            </div>
        </div>

        <div class="filters__filter-group">
            <input class="filters__filter-group-switcher" id="setting" type="checkbox" checked>
            <label class="filters__filter-group-header" for="setting">Setting</label>
            <div class="filters__list">
                <label class="filters__filter" ng-repeat="setting in resort.renderFiltersList.settings">
                    <input ng-init="resort.filters.settings[setting] = true"
                           type="checkbox" checked>
                    {{setting}}
                </label>
            </div>
        </div>

        <div class="filters__filter-group">
            <input class="filters__filter-group-switcher" id="guests" type="checkbox" checked>
            <label class="filters__filter-group-header" for="guests">Guests</label>
            <div class="filters__list">
                <label class="filters__filter filters__filter--guests"
                           ng-repeat="guest in [].constructor(resort.renderFiltersList.guests.max) track by $index">
                    <input class="filters__filter-input-guests"
                           ng-init="resort.filters.guests[$index + 1] = true"
                           type="checkbox" checked>
                    <span class="filters__filter-guests" ng-style="{'width': 20 * ($index + 1)}"></span>
                </label>
            </div>
        </div>

        <div class="filters__price">
            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="price" type="checkbox" checked>
                <label class="filters__filter-group-header" for="price">Price</label>
                <ahtl-price-slider min="resort.filters.price.min" max="resort.filters.price.max"></ahtl-price-slider>
            </div>
        </div>
        <div class="filters__must-have"></div>
        <div class="filters__activities"></div>
        <div class="filters__help"></div>
    </div>
    <div class="resorts"></div>
</div>