<div class="intro">
    <h2 class="intro__primary-header">The service, food, design and locations are among the best in the world</h2>
    <h3 class="intro__secondary-header">Incredible Travel Experiences, Curated for You</h3>
</div>

<main class="about">
    <header>
        <h2 class="about__primary-header">Welcome to Ahotel</h2>
        <h3 class="about__secondary-header">
            Ahotel Limited is an international hospitality brand that
            manages and develops resorts, hotels and spas in Asia, America, Africa and Middle East.
        </h3>
    </header>
    <p class="about__lead">
        Stay relaxed, stay productive, and stay in the heart of it all at AHOTELs.
    </p>
    <p class="about__content">
        Hilton Hotels & Resorts is Hilton Worldwide's flagship brand and one of the largest hotel brands in the world.
        The brand is targeted at both business and leisure travelers with locations in major city centers,
        near airports, convention centers, and popular vacation destinations around the world.
    </p>
    <p class="about__content">
        Hilton Hotels & Resorts participates in Hilton HHonors, Hilton Worldwide’s guest loyalty program.
        Members who book directly through Hilton-owned channels receive exclusive discounts and amenities
        such as free Wi-Fi, digital check-in, keyless entry, and the ability to select the room they'd like using
        the Hilton HHonors app
    </p>
    <p class="about__content">
        In the 2010s, the company upgraded the energy efficiency in many of their UK branches, installing green controls
        for doors, windows, and heating to ensure intelligent usage of energy depending upon whether rooms
        are let or vacant
    </p>
    <footer>
        <button class="about__btn" ui-sref="resort">make a reservation today</button>
    </footer>
</main>

<figure class="trending">
    <figcaption>
        <h3 class="trending__header">Our best offers</h3>
        <p class="trending__content">Children stay free, free breakfast</p>
    </figcaption>
    <figure class="img-group" ng-controller="HomeController as trend">
        <figure class="img-group__item" ng-repeat="hotel in trend.hotels">
            <figcaption class="img-group__caption">
                <span class="img-group__name">{{hotel.name}}</span>
            </figcaption>
            <a class="img-group__details" ui-sref="booking({hotelId: {{hotel._id}}})">
                <img class="img-group__img" ng-src="assets/images/trend/{{hotel._id}}.jpg" width="400" height="300">
            </a>
        </figure>
    </figure>
</figure>

<article class="celebrations">
    <img class="celebrations__img" src="assets/images/home/celebrations1.jpg">
    <div class="celebrations__content">
        <h3 class="celebrations__header">Celebrations</h3>
        <p class="celebrations__about">
            From grand weddings to intimate vow renewals. Birthday soirees, reunions and everything in between.
            Ahotel destinations like no other, is the perfect location for your next celebration.
        </p>
        <p class="celebrations__about celebrations__about--emphasis">Make it legendary.</p>
    </div>
    <img class="celebrations__img celebrations__img--additional" src="assets/images/home/celebrations2.jpg">
</article>