<div class="l-resort" ahtl-slide-on-click ng-controller="ResortController as resort">
    <div class="filters">

        <div class="filters__header">
            Filter your search
            <div slide-emit class="menu-handler">
                <span class="menu-handler__bar1 menu-handler__bar1--change" slide-on-toggle="menu-handler__bar1--change"></span>
                <span class="menu-handler__bar2 menu-handler__bar2--change" slide-on-toggle="menu-handler__bar2--change"></span>
                <span class="menu-handler__bar3 menu-handler__bar3--change" slide-on-toggle="menu-handler__bar3--change"></span>
            </div>
        </div>
        <div slide-on>
            <div class="filters__filter-group filters__filter-group--first">
                <input class="filters__filter-group-switcher" id="location" type="checkbox" checked>
                <label class="filters__filter-group-header" for="location">Location</label>
                <div class="filters__list">
                    <label class="filters__filter" ng-repeat="(location, v) in resort.filters.locations">
                       <input ng-model="resort.filters.locations[location]"
                              ng-change="resort.onFilterChange('locations', location, resort.filters.locations[location])"
                              type="checkbox" checked>
                        {{location}}
                    </label>
                </div>
            </div>

            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="guests" type="checkbox" checked>
                <label class="filters__filter-group-header" for="guests">Guests</label>
                <div class="filters__list">
                    <label class="filters__filter filters__filter--guests"
                           ng-repeat="(guest, v) in resort.filters.guests">
                        <input class="filters__filter-input-guests"
                               ng-model="resort.filters.currentGuests"
                               ng-change="resort.onFilterChange('guests', guest, resort.filters.currentGuests)"
                               type="radio"
                               name="guests"
                               ng-value="guest"
                               ><!--todo ng-value?-->
                        <span class="filters__filter-guests" ng-style="{'width': 20 * ($index + 1)}"></span>
                    </label>
                </div>
            </div>

            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="type" type="checkbox" checked>
                <label class="filters__filter-group-header" for="type">Type</label>
                <div class="filters__list">
                    <label class="filters__filter" ng-repeat="(type, v) in resort.filters.types">
                        <input ng-model="resort.filters.types[type]"
                               ng-change="resort.onFilterChange('types', type, resort.filters.types[type])"
                               type="checkbox">
                        {{type}}
                    </label>
                </div>
            </div>

            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="setting" type="checkbox" checked>
                <label class="filters__filter-group-header" for="setting">Setting</label>
                <div class="filters__list">
                    <label class="filters__filter" ng-repeat="(setting, v) in resort.filters.settings">
                        <input ng-model="resort.filters.settings[setting]"
                               ng-change="resort.onFilterChange('settings', setting, resort.filters.settings[setting])"
                               type="checkbox">
                        {{setting}}
                    </label>
                </div>
            </div>

            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="price" type="checkbox" checked>
                <label class="filters__filter-group-header" for="price">Price</label>
                <ahtl-price-slider class="filters__list"
                                   min="0"
                                   max="1000"
                                   left-slider="resort.filters.price.min"
                                   right-slider="resort.filters.price.max">
                </ahtl-price-slider>
            </div>

            <div class="filters__filter-group">
                <input class="filters__filter-group-switcher" id="mustHave" type="checkbox" checked>
                <label class="filters__filter-group-header" for="mustHave">Must Have</label>
                <div class="filters__list">
                    <label class="filters__filter" ng-repeat="(mustHave, v) in resort.filters.mustHaves">
                        <input ng-model="resort.filters.mustHaves[mustHave]"
                               ng-change="resort.onFilterChange('mustHaves', mustHave, resort.filters.mustHaves[mustHave])"
                               type="checkbox" checked>
                        {{mustHave}}
                    </label>
                </div>
            </div>

            <div class="filters__filter-group filters__filter-group--last">
                <input class="filters__filter-group-switcher" id="activities" type="checkbox" checked>
                <label class="filters__filter-group-header" for="activities">Activities</label>
                <div class="filters__list">
                    <label class="filters__filter" ng-repeat="(activity, v) in resort.filters.activities">
                        <input ng-model="resort.filters.activities[activity]"
                               ng-change="resort.onFilterChange('activities', activity, resort.filters.activities[activity])"
                               type="checkbox" checked>
                        {{activity}}
                    </label>
                </div>
            </div>

            <div class="help">
                <h3 class="help__header">Need help?</h3>
                <p class="help__call-us">call us on +0-800-123-45-67</p>
            </div>
        </div>
    </div>
    <div class="resorts" ng-controller="Pages as pages" slide-on-toggle="resorts--clear">
        <span ng-if="!resort.error" class="resorts__found">We have found {{resort.getShowHotelCount}} hotels</span>
        <span class="resorts__found" ng-if="resort.error">Error occurred. We havnt found any hotels.</span>
        <div class="hotel" ng-repeat="hotel in resort.hotels | showFrom : pages.showFrom() | limitTo: 5 track by hotel._id">
            <img class="hotel__img" ng-src="assets/images/booking/{{hotel._id}}/preview.jpg" width="400" height="300">
            <h3 class="hotel__name">{{hotel.name}}</h3>
            <p class="hotel__location">
                {{hotel.location.region}}
            </p>
            <div>
                <span>{{hotel.type}}, </span>
                <a class="hotel__map" href="" ng-click="resort.openMap(hotel.name, hotel._gmaps, hotel)">Map</a>
            </div>
            <p class="hotel__price">Price: {{hotel.price}}$</p>
            <p class="hotel__discount" ng-show="hotel.discount">Discount: {{hotel.discount}}%</p>
            <p class="hotel__desc">{{hotel.desc}}</p>
            <p class="hotel__activities">
                <span class="hotel__activities-em">Activities: </span>
                {{hotel.activities | activitiesFilter: 75}}</p>
            <a class="hotel__more" ui-sref="booking({hotelId: {{hotel._id}}})">read more</a>
        </div>

        <div class="pages" ng-show="pages.pagesTotal.length > 0">
            <button class="pages__btn"
                    ng-click="pages.showPrev()"
                    ng-disabled="pages.isFirstPage()"
                    scroll-to-top="click"
                    scroll-to-top-config="body, 258">
                &lt; prev
            </button>
            <ul class="pages__nav">
                <li class="pages__nav-item"
                    ng-repeat="page in pages.pagesTotal track by $index"
                    ng-click="pages.setPage($index)"
                    ng-class="{'pages__nav-item--selected': pages.currentPage === $index + 1}"
                    scroll-to-top="click"
                    scroll-to-top-config="body, 258">
                        {{$index + 1}}
                </li>
            </ul>
            <button class="pages__btn" ng-click="pages.showNext()"
                    ng-disabled="pages.isLastPage()"
                    scroll-to-top="click"
                    scroll-to-top-config="body, 258">
                next &gt;
            </button>
        </div>
    </div>
    <div style="clear: both"></div>
</div>