<!--[if lte IE 9]>
    <script src="assets/vendor/placeholder.js"></script>
<![endif]-->

<div class="l-auth" ng-controller="AuthController as form">
    <div class="auth">
        <div class="form-container">
            <form class="form-join"
                  name="formJoin"
                  ng-hide="$currentStateParams.type === 'login'"
                  ng-submit="form.createUser()"
                  novalidate
                  role="form"><!--todo role-->
                <input class="form-login__input"
                       type="text"
                       name="userName"
                       ng-model="form.newUser.name"
                       ng-minlength="3"
                       ng-maxlength="10"
                       placeholder="name"
                       required />
                <input class="form-login__input"
                       type="password"
                       name="userPassword"
                       ng-model="form.newUser.password"
                       ng-minlength="3"
                       ng-maxlength="10"
                       placeholder="password"
                       required />
                <input class="form-login__input"
                       type="email"
                       name="userEmail"
                       ng-model="form.newUser.email"
                       placeholder="email address"
                       required />
                <input class="form-login__btn"
                       type="submit"
                       ng-disabled="formJoin.$invalid"
                       value="Create">
                <p class="form-login__message">Already registered?
                    <a ui-sref="auth({type: 'login'})">
                        Sign In
                    </a>
                </p>
                <p>
                    Valid
                </p>
            </form>
            <form class="form-login"
                  name="formLogin"
                  ng-hide="$currentStateParams.type === 'join'"
                  ng-submit="form.loginUser()"
                  novalidate
                  role="form"><!--todo role-->
                <input class="form-login__input"
                       type="text"
                       name="userName"
                       ng-model="form.user.name"
                       ng-minlength="3"
                       ng-maxlength="10"
                       placeholder="name"
                       required />
                <input class="form-login__input"
                       type="password"
                       name="userPassword"
                       ng-model="form.user.password"
                       ng-minlength="3"
                       ng-maxlength="10"
                       placeholder="password"
                       required />
                <input class="form-login__btn"
                       type="submit"
                       ng-disabled="formLogin.$invalid"
                       value="login">
                <p class="form-login__message">Not registered?
                    <a class="form-login__link" ui-sref="auth({type: 'join'})">
                        Create an account
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>