.modal
    position: fixed
    display: none
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1000
    background: transparent url('../assets/images/logoBlue.png') no-repeat 2% 98%
    background-size: 100px
    text-align: right

    &__bg
        position: absolute
        height: 100%
        width: 100%
        background-color: black
        opacity: 0.6

    &__img
        position: absolute
        display: inline-block
        max-width: 85%
        max-height: 85%
        margin: auto
        top: 0
        left: 0
        right: 0
        bottom: 0

    &__map
        position: absolute
        display: inline-block
        max-width: 85%
        max-height: 85%
        margin: auto
        top: 0
        left: 0
        right: 0
        bottom: 0

    &__text
        display: table
        position:  absolute
        width: 100%
        height: 80%
        top: 10%
        text-align: center

    &__text-wrapper
        display: table-cell
        vertical-align: middle

    &__text-header
        @include fontStyle(cabL)
        @include remFallback(4)
        color: $color_green
        background-color: $color_reverse
        animation: slide 0.5s forwards
        animation-delay: 2s

    &__text-message
        @include fontStyle(cabL)
        @include remFallback(2)
        color: $color_reverse
        background-color: $color_green

    &__close
        @include remFallback(2)
        display: inline-block
        padding: 20px
        z-index: 123123123123

        &:before
            content: '\2716'
            color: $color_green
            
        &:hover:before
            content: '\2716'
            color: $color_light_green

        &:active:before
            content: '\2716'
            color: $color_dark_green
