.gallery-head
    position: relative
    max-height: 700px
    overflow: hidden

    &__logo
        position: absolute
        right: 0
        bottom: 5%
        left: 0
        margin: auto

    &__img-container
        display: table
        position: relative
        overflow: hidden

    &__img
        display: table-cell
        vertical-align: bottom
        width: 100%