<div class="slider">
    <img class="slider__img" ng-src="{{slider.slider.getCurrentSlide()}}">
    <img class="slider__arrow slider__arrow-right" ng-click="slider.slider.getNextSlide()" src="assets/images/slider/arrow_right.png" height="45" width="45">
    <img class="slider__arrow slider__arrow-left" ng-click="slider.slider.getPrevSlide()" src="assets/images/slider/arrow_left.png" height="45" width="45">
</div>
<div style="z-index: 9999999; height: 200px; width: 200px; background-color: yellow"></div>
