<footer class="l-footer" ng-hide="$state.currentStateName === 'auth'">
    <figure class="footer-figure">
        <figcaption class="footer-figure__caption">
            <a class="footer-figure__link" href="">find your next<br>adventure</a>
        </figcaption>
        <img class="footer-figure__img" src="assets/images/footer/footer.jpg"
             width="1900" height="600" alt="find your next adventure">
    </figure>

    <div class="footer-misc">
        <ul class="social">
            <li class="social__item">
                <a class="social__link social__link--fb" href=""></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--tw" href=""></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--yt" href=""></a>
            </li>
        </ul>
        <div class="address">
            <div class="address__ahotel">
                <h4 class="address__header-primary">Ahotel resort and spa</h4>
                <h4 class="address__header-secondary">Kiev, Ukraine</h4>
                <p class="address__text">reservations: 0-800-123-45-67</p>
                <p class="address__text">hotel direct: +0 (123) 456-78-90</p>
            </div>
            <div class="address__awards">
                <img src="assets/images/footer/awards.png" width="250">
            </div>
        </div>
        <div class="links">
            <a class="links__link" href="">Hotels</a>
            <a class="links__link" href="">Villas</a>
            <a class="links__link" href="">Bungalows</a>
            <a class="links__link--guest-book" href="">Guest book</a>
        </div>
    </div>
</footer>